<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Projekat</display-name>
	<servlet>
		<description>
		</description>
		<display-name>DeployController</display-name>
		<servlet-name>DeployController</servlet-name>
		<servlet-class>controller.DeployController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TaskController</display-name>
		<servlet-name>TaskController</servlet-name>
		<servlet-class>controller.TaskController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddUserController</display-name>
		<servlet-name>AddUserController</servlet-name>
		<servlet-class>controller.AddUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeployController</servlet-name>
		<url-pattern>/DeployController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskController</servlet-name>
		<url-pattern>/TaskController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserController</servlet-name>
		<url-pattern>/AddUserController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>mainMenu.jsp</welcome-file>
	</welcome-file-list>
</web-app>
